.container1{
  background-color: aqua;
}
.container1 table{
  margin-left: 300px;
  margin-top: -350px;
}
.Sidebar{
  background-color: #ccc;
  height: 100vh;
  padding-top: 20px;
}
.SideBarList .row:hover{
  cursor: pointer;
  background-color: rgb(109, 122, 122);
  width: 170px;
border-radius: 10px;  
}

.PieChart{
height: 350px;
width: 350px;
}
.LineChart{
  height: 350px;
  width: 350px;
}
.BarChart{
  height: 350px;
  width: 350px;
}
.container-fluid px-0{
  background-color: lightgray;
}